.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 320px;
  border-radius: 16px;
  padding-bottom: 8px;
}

.center-row {
  display: flex;
  justify-content: center;
  background: #000;
  align-items: center;
  flex-direction: row;
}
